body {background-color: black;}

h1 {color:red}
h2 {color: red}
li {color: black}
p {color: white}
a {color: red}

.laatikko { 
    width: 230px;;
    height: 130px;
    background-color: white;
    text-align: left;
    position:absolute;
    left:700px;
    top:475px;
    border: 5px solid red;
}

.laatikko2 {
    width: 230px;
    height:85px;
    background-color:white;
    text-align: left;
    position: absolute;
    left: 700px;
    top: 750px;
    border: 5px solid red;
}

.niilo {
    width: 300px;
    height: 240px;
    position: absolute;
    top: 550px;
    left: -5px;
    background-color: black;
    text-align: center;
}

.niilo22 {
position: absolute;
left: 265px;
top: 665px;
}

.kuva {
    position: absolute;
    top: 230px;
    right:10px;
    border:5px solid red;

}

.kuva2 {
    position: absolute;
    top: 230px;
    right: 220px;
    border: 5px solid red;
}

.kuva3 {
    position: absolute;
    top: 440px;
    right: 10px;
    border: 5px solid red;
}

.kuva4 {
    position: absolute;
    top: 440px;
    right: 220px;
    border: 5px solid red;
}

.maisema {
position: absolute;
top: 1px;
left: 1px;

}

.maisema2 {
    position: absolute;
    top: 1000px;
    left: 1px;
}

.suomi {
position: absolute;
left: 30px;
top: 230px; 
border: 5px solid red;   
}

.otsikko {
position: absolute;
left: 700px;
top: 250px;
width: 500px;
height: auto
;}

.harrastuksia {
position: absolute;
left:745px;
top: 410px;
width: 500px;
height: auto;
}

.opiskelu {
position: absolute;
left: 700px;
top: 600px;
width: auto;
height: auto;
}